#id {
  color: red;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  border: dotted 2 black;
}

.logo {
  width: 150px;
  height: 100px;
}

.nav-item > ul {
  display: flex;
}

.nav-item > ul > li {
  color: rgb(12, 12, 12);
  padding: 20px;
  list-style: none;
  font-size: 25px;
}

.nav-item > ul > li :hover {
  color: rgb(36, 20, 210);
}

.footer > ul {
  display: flex;
  justify-content: space-around;
}

.footer > ul > li {
  padding: 20px;
  list-style: none;
  color: black;
}

.resContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.restaurentCard {
  width: 200px;
  height: 300px;
  background-color: rgb(236, 218, 218);
  border: solid 2 black;
  margin: 10px;
}

.cardImage {
  width: 100%;
  height: 100px;
}

h5 {
  color: black;
}
